body {
    background-color: lightgray;
}
.logo {
    display: inline-block;
    background-color: gray;
    margin: 20px 50px 10px 50px;
    width: 1350px;
    padding: 35px;
    font-style: initial;
    font-size: 40px;
    color: #202020;
}
nav {
    display: inline-block;
    background-color: gray;
    margin: 10px 50px 10px 50px;
    width: 1380px;
    padding: 20px;
    font-style: initial;
    font-size: 25px;
    color: #202020;
    text-align: center;
}
header {
    display: inline-block;
    background-color: gray;
    margin: 10px 50px 10px 50px;
    width: 1300px;
    padding: 60px;
    font-style: initial;
    font-size: 30px;
    color: #202020;
    text-align: center;
}
.side-bar {
    display: inline-block;
    background-color: gray;
    margin: 10px 10px 10px 50px;
    width: 450px;
    height: 500px;
    padding: 25px;
    font-style: initial;
    font-size: 35px;
    color: #202020;
    text-align: center;
}
.body {
    display: inline-block;
    background-color: gray;
    margin: 10px 20px 10px 10px;
    width: 855px;
    height: 510px;
    padding: 20px;
    font-style: initial;
    font-size: 40px;
    color: #202020;
    text-align: center;
}
footer {
    display: inline-block;
    background-color: gray;
    margin: 10px 50px 10px 50px;
    width: 1380px;
    padding: 20px;
    font-style: initial;
    font-size: 25px;
    color: #202020;
    text-align: center;
}