body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
}
main {
    width: 100%;
}
nav {
    display: flex;
    width: 100%;
    background-color: #bebebe;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    margin-left: 150px;
}
.links {
    display: flex;
    margin-right: 150px;
}
.logo h2 {
    color: #3f3f3f;
    font-size: 35px;
}
.links a {
    text-decoration: none;
    color: #3f3f3f;
    margin-left: 20px;
    font-size: 20px;
}
.hero {
    display: flex;
    width: 100%;
    background-color: #bebebe;
    justify-content: space-between;
    padding-bottom: 30px;
}
.intro {
    margin-left: 150px;
}
.intro h2 {
    color: #3f3f3f;
    font-size: 50px;
    margin: 0px;
}
.intro p {
    color: #3f3f3f;
    font-size: 20px;
    width: 250px;
}
.slider {
    display: flex;
    margin-right: 150px;
    background-color: #7f7f7f;
    padding: 60px;
    width: 370px;
    height: 120px;
    align-items: center;
}
.slider p {
    color: #3f3f3f;
    font-size: 22px;
}
.circles {
    display: flex;
    margin: 30px 350px 30px 150px;
    align-items: center;
    justify-content: flex-end;
}
.circle {
    background-color: #bebebe;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
.box {
    display: grid;
    gap: 30px;
    margin-left: 150px;
    margin-right: 150px;
    grid-template-columns: repeat(3, 1fr);
}
.services {
    display: grid;
    background-color: #bebebe;
    color: #3f3f3f;
    align-content: center;
    text-align: center;
    padding: 150px;
    font-size: 22px;
}
.recent-work {
    display: grid;
    background-color: #bebebe;
    color: #3f3f3f;
    align-content: center;
    text-align: center;
    padding: 150px;
    font-size: 22px;
}
.twitter {
    display: flex;
    margin: 30px 150px 30px 150px;
    background-color: #bebebe;
    padding: 30px;
}
.twitter span {
    color: #3f3f3f;
    font-size: 22px;
}
footer {
    display: flex;
    background-color: #bebebe;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
}
footer .links {
    margin-left: 130px;
}
footer .copyright {
    margin-right: 150px;
    color: #3f3f3f;
    font-size: 20px;
}
