header {
    background-color: #c1c1c1;
}
.logo h2 {
    display: inline-block;
    width: 250px;
    font-style: initial;
    color: #464646;
    margin: 30px 175px 15px 120px;
    font-size: 40px;
}
.logo a {
    display: inline-block;
    font-style: initial;
    color: #464646;
    text-decoration: none;
    font-size: 22px;
    margin: 15px 5px 15px 20px;
}
.intro {
    display: inline-block;
    font-style: initial;
    color: #464646;
}
.intro h1 {
    margin: 10px 20px 20px 120px;
    font-size: 80px;
    width: 250px;
}
.intro p {
    margin: 10px 20px 20px 120px;
    font-size: 22px;
    width: 200px;
}
.slider {
    display: inline-block;
    background-color: #7e7e7e;
    padding: 85px 170px;
    color: #464646;
    margin: 10px 20px 20px 60px;
    font-size: 25px;
    width: 150px;
}
.serv-1 {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: center;
    margin: 50px 15px 20px 120px;
    padding: 120px 30px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
.serv-2 {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: center;
    margin: 30px 15px 20px 0px;
    padding: 120px 30px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
.serv-3 {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: center;
    margin: 30px 15px 20px 0px;
    padding: 120px 30px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
.work-1 {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: center;
    margin: 30px 15px 30px 120px;
    padding: 120px 30px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
.work-2 {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: center;
    margin: 30px 15px 30px 0px;
    padding: 120px 30px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
.work-3 {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: center;
    margin: 30px 15px 30px 0px;
    padding: 120px 30px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
.twitter {
    display: inline-block;
    background-color: #c1c1c1;
    color: #464646;
    text-align: start;
    margin: 30px 250px 30px 120px;
    padding: 50px 310px;
    width: 200px;
    font-size: 25px;
    font-style: inherit;
}
footer {
    background-color: #c1c1c1;
}
.footer {
    margin: 0px 0px 0px 120px;
}
.footer a {
    display: inline-block;
    font-style: initial;
    color: #464646;
    text-decoration: none;
    font-size: 22px;
    margin: 15px 10px 15px 10px;
    padding: 10px;
}
.footer p {
    display: inline-block;
    font-style: inherit;
    font-size: 18px;
    color: #464646;
    margin: 15px 10px 15px 230px;
    padding: 10px;
}